body {
  margin: 0;
  padding: 0;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-bottom: 1px green solid;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  padding: 10px;
  font-size: 18px;
}

#afrimart {
margin: 0;
display: inline-flex;
}
